<h1>All Accounts</h1>

<p><%= link_to '<button type="button">Create New Account</button>'.html_safe, new_account_path %></p>

<% @accounts.each do |account| %>
  
  <div class="media">
     <div class="media-body">
       <h4 class="media-heading">
         <p><%= link_to account.name, account_path(account.id) %></p>
       </h4>
     </div>
   </div>
<% end %>